<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Fees Structure</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Manage Fees Structure of School       
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a [routerLink] = "['feestructure']" class="mdl-button mdl-button--colored">
          Manage
        </a>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Syllabus</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Manage Syllabus for classes     
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a [routerLink] = "['syllabus']" class="mdl-button mdl-button--colored">
          Manage
        </a>
      </div>
    </div>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Time Table</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Manage Time-Table of Classes       
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a [routerLink] = "['timetable']" class="mdl-button mdl-button--colored">
          Manage
        </a>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Academic Year</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Create New Academic Year       
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a [routerLink] = "['academicyear']" class="mdl-button mdl-button--colored">
          Create
        </a>
      </div>
    </div>
  </div>
</div>