   <mdl-layout mdl-layout-fixed-header >
      <mdl-layout-header>
      </mdl-layout-header>
      <mdl-layout-content>
         <mdl-layout-tab-panel>
					<mdl-tab-panel-title>
						 <a [routerLink] = "['academics']" class="mdl-layout__tab">Academics</a>
					</mdl-tab-panel-title>
                    <mdl-tab-panel-content>						
                        <router-outlet></router-outlet>
					</mdl-tab-panel-content>
         </mdl-layout-tab-panel>
         <mdl-layout-tab-panel>
					<mdl-tab-panel-title>
						 <a [routerLink] = "['student']" class="mdl-layout__tab">Student</a>
					</mdl-tab-panel-title>
         </mdl-layout-tab-panel>
         <mdl-layout-tab-panel>
					<mdl-tab-panel-title>
						 <a [routerLink] = "['teacher']" class="mdl-layout__tab">Teacher</a>
					</mdl-tab-panel-title>
         </mdl-layout-tab-panel>
      </mdl-layout-content>
   </mdl-layout>