   <mdl-layout #slider="mdlLayout" mdl-layout-fixed-header mdl-layout-header-seamed>
      <mdl-layout-header>
         <mdl-layout-header-row>
            <mdl-layout-title>Admin</mdl-layout-title>            
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Admin</mdl-layout-title>
         <nav class="mdl-navigation">
               <a [routerLink] = "['academics']" class="mdl-navigation__link" (click)="slider.closeDrawer()">Academics</a>
               <a [routerLink] = "['student']" class="mdl-navigation__link" (click)="slider.closeDrawer()">Student</a>
               <a [routerLink] = "['teacher']" class="mdl-navigation__link" (click)="slider.closeDrawer()">Teacher</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <router-outlet></router-outlet>
      </mdl-layout-content>
   </mdl-layout>

  