  <h2>New Syllabus</h2>
<form [formGroup]="newSyllabusForm" (ngSubmit)="onSubmit()">
  <div formGroupName="syllabus">
    <input type="text" formControlName="standard" placeholder="Standard">
    <input type="text" formControlName="syllabusname" placeholder="SyllabusName">
  </div>
  <div formArrayName="subjects">
    <div *ngFor="let subject of newSyllabusForm.controls['subjects'].controls; let i = index">
    <div formGroupName="{{i}}">
      <b (click)="removeSubject(i)">-</b><input type="text" formControlName="subjectname" placeholder="Subject Name"><b (click)="addNewSubjectPart(i)">+</b>
      <div formArrayName="subject-parts">
        <div *ngFor="let parts of newSyllabusForm.controls['subjects'].controls[i].controls['subject-parts'].controls; let j = index">
        &nbsp;^-----<input type="text" formControlName="{{j}}" placeholder="Subject Part Name"><b (click)="removeSubjectPart(i,j)">-</b>
        </div>
      </div>
    </div>
    </div>
  </div>
<button [disabled]="!newSyllabusForm.valid">submit</button>
</form>
<button (click)="addNewSubject()">Add New Subject</button>
<div *ngIf="ifsuccess">
  Success
</div>